html {
  padding-left: 10%;
  padding-right: 10%;
}
nav div {
  padding: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h2 {
  display: inline;
}
nav img {
  margin: 20px;
  height: 50px;
}
nav p, footer p{
  text-align: justify;
}

footer li{
  padding-left: 10px;
}
@media (max-width: 1200px) {
  iframe {
    width: 80%;
  }

  html {
    padding-left: 0%;
    padding-right: 0%;
  }
  nav, footer{
    padding-left: 10%;
    padding-right: 10%;

  }
  .yrbtn{
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 767px) {
  iframe {
    width: 100%;
  }
}
